<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyiCarouselDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E29F3BA1C08001E0020306E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E29F3D31C08001E0020306E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E29F3DE1C08001E0020306E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
